.AdminDashboard {
    padding: 2rem;
    .MuiCard-root {
        border: 1px solid #e0e0e0;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;

        &:hover {
            transform: translateY(-3px);
        }
    }

    .MuiButton-containedSecondary {
        background-color: #f44336;
        &:hover {
            background-color: #d32f2f;
        }
    }
}
