.trail-sidebar {
    height: calc(100vh - 160px); /* 100vh minus the combined height of header and footer */
    background-color: #2d4a22;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: relative; /* Relative positioning to stay within the content area */
    top: 0;
    margin-bottom: 10px;
    padding-bottom: 10px;

    .search-container {
        margin-bottom: 1rem;
        background-color: white;
        border-radius: 10px;
    }

    .trail-list {
        flex-grow: 1;
        overflow-y: auto;
        padding: 5px;
        margin-bottom: 10px;
    }

    .trail-card {
        margin-top: 10px;
    }

    .trail-item {
        background-color: #4f7b42;
        margin-bottom: 0.5rem;
        border-radius: 8px;
        padding: 1rem;
        display: flex;
        flex-direction: column; /* Stack elements vertically */
        align-items: flex-start;
    
        &:hover {
            background-color: #7dcc67;
        }
    
        .MuiListItemText-primary {
            color: white;
        }
    
        .MuiListItemText-secondary {
            color: #b8d1b8;
        }
    
        // New container to hold both status and activity in a row
        .status-activity-container {
            display: flex;
            justify-content: space-between;
            width: 100%; /* Ensures the container takes up the full width */
        }
    
        .trail-mod-status {
            background-color: #8aab8f; /* Change this color as per your theme */
            color: white;
            padding: 0.2rem 0.8rem;
            border-radius: 12px;
            margin-bottom: 0.5rem;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 0.875rem;
            display: inline-block;
        }
        
        .trail-activity {
            background-color: #8aab8f; /* Change this color as per your theme */
            color: white;
            padding: 0.2rem 0.8rem;
            border-radius: 12px;
            margin-bottom: 0.5rem;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 0.875rem;
            display: inline-block;
        }
        .sidebar-title{
            font-size: 25px;
            color: white;
        }
        .sidebar-description{
            font-size: 20px;
            color: aliceblue;
        }
    }
    .trail-time-distance-elevation {
        display: flex;
        justify-content: center; /* Space between each element */
        align-items: center; /* Align icons and text in the center vertically */
        background-color: #dbdbdb;
        // margin: 5px;
        border-radius: 8px;
        height: 40px;
        position: relative;
        width: 360px;
        div {
            display: flex;
            align-items: center;
            gap: 1rem; /* Space between the icon and the text */
            margin-right: 3px;
            padding-left: 1px;
        }
        .icons{
            margin-left: 8px;
            margin-right: 10px;
        }
    
        svg {
            font-size: 1.2rem; /* Adjust the size of the icons */
            margin-right: 0.3rem; /* Add a little space between the icon and text */
        }
    }
    .details{
        display: flex;
        justify-content: end; /* Space between each element */
        align-items: center; /* Align icons and text in the center vertically */
        margin-top: 5px;
        
        height: 40px;
        position: relative;

       .view-post-button{
        border-radius: 8px;
        background-color: #7dcc67;
        padding: 4px;
        color: black;
       }
    }
}
