#header-container {
    background-color: #f9f9f9;
    height: 100px;
    display: flex;
    align-items: center;

    .logo-container {
        display: flex;
        justify-content: flex-start; /* Align the logo to the left */
        align-items: center;

        .logo {
            max-height: 80px;  // Adjusted logo size
        }
    }

    .menu-container {
        display: flex;
        justify-content: center; /* Align the menu in the center */
        align-items: center;

        .header-element {
            margin: 0 20px;
            text-decoration: none;
            color: #333;
            font-weight: 600;
            font-size: 1rem;
            transition: color 0.3s ease;

            &:hover {
                color: #3f51b5;
                text-decoration: underline;
            }
        }
    }

    .profile-container {
        display: flex;
        justify-content: flex-end; /* Align the profile on the right */
        align-items: center;

        .auth-links {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .header-element {
                margin-left: 20px;
                text-decoration: none;
                color: #333;
                font-weight: 600;
                font-size: 1rem;

                &:hover {
                    text-decoration: underline;
                    color: #3f51b5;
                }
            }
        }
    }

    .menu-icon {
        display: none;
    }

    @media (max-width: 1200px) {
        .menu-container {
            justify-content: flex-start;
            display: none;  // Hide the regular menu in mobile view
        }

        .profile-container {
            justify-content: flex-end;
        }

        .menu-icon {
            display: block;
            margin-right: 20px;  // Ensure the hamburger is on the right
        }

        .header-element {
            display: none;
        }
    }
}
